
<div class = "container mt-5">
    <h2>List Of Students</h2>
    <a routerLink="student/add/0" class = "btn btn-primary mt-5 mb-3">Add Student</a>
    <table class ="table">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </thead>
        <tbody>
            <tr *ngFor = "let student of students">
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.phone}}</td>
                <td><a [routerLink] ="['student/edit',student.id]">Edit</a></td>
                <td>
                    <button (click) ="onDelete(student.id)">Delete</button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>